.header{
  background-color: #0a428f;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  color: white;
}

.select{
	text-align: center;
}


.position{
  position: absolute;
  top: 10%;
  left: 25%;
  bottom: 20%;
  transform: translate(-50%, 0%);
  width: 100%;
}

