.body1{
	border-top: 6px solid grey;
	border-bottom: 2px solid grey;
}



.img{
	margin-top: 10px;

}

.call1{
	float: right;
	margin-left: 80%;
    padding: 20px;
    position: fixed;
  	bottom: 5%;
}